/* Estilo para o container principal */
.home-container {
  text-align: center;
  margin-top: 50px; /* Espaçamento superior */
}

/* Estilo para o título */
.home-container h2 {
  font-size: 32px; /* Aumenta o tamanho da fonte do título */
  font-weight: bold; /* Torna o título em negrito */
  color: #6b3624; /* Cor do título */
  margin-bottom: 30px; /* Espaçamento inferior */
}

/* Estilo para o container dos botões */
.button-container {
  display: flex; /* Usando flex para alinhar os botões */
  flex-direction: column; /* Alinha os botões na vertical */
  align-items: center;
  justify-content: center; /* Centraliza os botões verticalmente */
  gap: 15px; /* Espaço entre os botões */
  margin-top: 20px; /* Espaçamento entre o título e os botões */
}

/* Estilo para cada botão */
.nav-button {
  width: 300px;
  padding: 10px 20px; /* Ajuste o tamanho do botão */
  font-size: 20px; /* Aumenta o tamanho da fonte do botão */
  cursor: pointer; /* Aparece como uma mãozinha ao passar o mouse */
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave nos botões */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para efeitos de hover */
}

/* Efeito ao passar o mouse sobre o botão */
.nav-button:hover {
  transform: translateY(-3px); /* Movimento para cima quando passa o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte no hover */
}

  